section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.career-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.para button {
  border: 1px solid black;
  color: black;
  width: fit-content;
  margin-top: 5rem;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 50vh;
}